@{
    Layout = "_Layout";
}
<div class="content">
  <h2>welcome.</h2>
  <h4 class="link">@Html.ActionLink("view all clients","Index","Clients")</h4>
  <h4 class="link">@Html.ActionLink("view all stylists","Index","Stylists")</h4>
</div>
